@model MVCAssignment.Models.User

@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
<div class="alert alert-danger" role="alert">
    @ViewBag.ErrorMessage
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

@if (!string.IsNullOrWhiteSpace((string)TempData["Message"]))
{
<div class="alert alert-success" role="alert">
    @((string)TempData["Message"])
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.CheckBox("persist") Remember Me
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 pr-5">
                <input type="submit" value="Login" class="btn btn-primary" />
                @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
